* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}
.imagem-icon {
    width: 50px;
    margin: 1.2em;
    display: inline;
    display: flex;
    

}
body {
    background-color: rgb(158, 247, 251);
}
